*

# Don't ignore directories (so we can recurse into them)
!*/
!src/

# Keep specific files
!.gitignore
!flake.lock
!pyproject.toml
!*.md
!uv.lock

# Keep all files in specific directories with certain extensions
!**/*.json
!**/*.sh
!**/*.svg
!**/*.png
!**/*.nix
!**/*.py
!**/src/*.py


# Ignore generated/build files even if they match above patterns
out/
build/
*.log
out
result/
data/

# github
!.github/
!.github/**
